<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Google Font -->

	<!-- Bootstrap CSS -->
	<script src="https://code.jquery.com/jquery-3.4.1.js"
		integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
		integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous">
	</script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
		integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<!-- jquery stuff -->
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<!-- socket -->
	<script src="/socket.io/socket.io.js"></script>
	<!-- Custom CSS -->
	<link rel="stylesheet" href="/app.css">
	<script type="text/javascript" src="/app.js"></script>

	<title>Matcha</title>

	</script>
	<script type="text/javascript">
		var socket = io('/events');
		socket.on('broadcast', function (data) {
			console.log(data);
		});
	</script>
</head>

<body>
	<nav class="navbar navbar-default" style="margin-bottom: 2rem">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">Matcha</a>
				<p class="navbar-brand" id="counter"></p>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<% if (currentUser) { %>
					<li><a href="/feed/browse">Browse</a></li>
					<li><a href="/feed/research">Research</a></li>
					<li><a href="/profile/<%= currentUser._id %>">My Profile</a></li>
					<li><a href="/profile/<%= currentUser._id %>/edit">Edit Profile</a></li>
					<li><a href="/likes/<%= currentUser._id %>/activity">Activity</a></li>
					<li><a href="/chatik">TestChat</a></li>
					<li><a href="/conversations">Conversations</a></li>
					<% } %>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<%if (!currentUser) { %>
					<li><a href="/login">Log in</a></li>
					<li><a href="/register">Sign Up</a></li>
					<%} else { %>
					<li><a>Hello there, <%=currentUser.username%></a></li>
					<li><a href="/logout">Logout</a></li>
					<%}%>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

	<div class="container" id="flash">
		<%if (error && error.length > 0) { %>
					<div class="alert alert-danger alert-dismissible"><%=error%></div>
					<% } %>
					<%if (success && success.length > 0) { %>
					<div class="alert alert-success alert-dismissible"><%=success%></div>
					<% } %>
			</div>
