<%include ../partials/header%>
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-body">
				<p></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<script>
		$(function () {
			$("#datepicker").datepicker({
				minDate: "-100Y",
				maxDate: "-16Y",
				changeMonth: true,
				changeYear: true
			});
		});
	</script>
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-6">
			<h3>Edit your profile data</h3>
			<div class="form-group"><a href="/forgot">Forgot your password?</a></div>
			<form action="/profile/<%=user._id%>/editinfo?_method=PUT" method="POST">
				<div class="form-group">
					<input class="form-control " type="text" value="<%=user.username%>" name="user[username]"
						placeholder="username">
				</div>
				<div class="form-group">
					<input class="form-control " type="text" name="user[firstname]" value="<%=user.firstname%>"
						placeholder="firstname">
				</div>
				<div class="form-group">
					<input class="form-control " type="text" value="<%=user.lastname%>" name="user[lastname]"
						placeholder="lastname">
				</div>
				<div class="form-group">
					<input class="form-control" autocomplete="off" type="text" name="user[birthdate]" id="datepicker"
						value="<%= moment(user.birthday).format("L")%> " placeholder="Choose your birth date">
				</div>
				<div class="form-group">
					<input class="form-control " type="text" name="user[email]" value="<%= user.email %>"
						placeholder="email">
				</div>
				<div class="form-group">
					<input class="form-control " type="text" name="location" value="<%= user.locationname %>"
						placeholder="location">
				</div>
				<div class="form-group">
					<select class="form-control " name="user[gender]">
						<option <% if (user.gender == "Female") { %> selected <% } %> value="Female">Female</option>
						<option <% if (user.gender == "Male") { %> selected <% } %> value="Male">Male</option>
					</select>
				</div>
				<div class="form-group">
					<select class="form-control " name="user[sexPreferences]">
						<option <% if (user.sexPreferences == "Female") { %> selected <% } %> value="Female">Female
						</option>
						<option <% if (user.sexPreferences == "Male") { %> selected <% } %> value="Male">Male</option>
						<option <% if (user.sexPreferences == "Bi-Sexual") { %> selected <% } %> value="Bi-Sexual">
							Bi-Sexual
						</option>
					</select>
				</div>
				<div class="form-group">
					<textarea class="form-control " type="text" name="user[bio]"
						placeholder="Your Bio"><%= user.bio %></textarea>
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-block ">Submit</button>
				</div>
			</form>
		</div>

		<div class="col-sm-12 col-md-6 col-lg-6">
			<h3>Edit your interests</h3>
			<div style="display: inline">
				<% user.interests.forEach((tags) => { %>
				<!-- <div> -->
				<!-- <form action="/profile/<%= user._id %>/<%= tags._id %>/tagdel?_method=delete" method="post"> -->
				<a class="btn btn-danger" id="<%=tags._id%>"
					onclick="deleteTag('<%=user._id %>', '<%= tags._id %>')">#<%= tags.text %></a>
				<!-- </form> -->
				<!-- </div> -->
				<% }); %>
			</div>
			<hr>
			<form action="/profile/<%=user._id%>/edittag?_method=PUT" method="POST">
				<div class="form-group">
					<input class="form-control" id="tags" type="text" name="interests" placeholder="My interests">
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-block ">Submit</button>
				</div>
			</form>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6">
			<h3>Edit your photos</h3>
			<div style="display: inline-flex;">
				<% user.pictures.forEach((pic_url) => { %>
				<div class="thumbnail">
					<img width="125px" height="auto" src="<%= pic_url.url %>">
					<form action="/profile/<%= user._id %>/<%= pic_url._id %>/picdel?_method=delete" method="post">
						<button class="btn btn-danger btn-block">Delete</button>
					</form>
					<% if (!pic_url.isProfile) { %>
					<form action="/profile/<%= user._id %>/<%= pic_url._id %>/setprofile?_method=put" method="post">
						<button class="btn btn-success btn-block">Set as Profile</button>
					</form>
					<% } %>
				</div>
				<% }); %>
			</div>
			<hr>
			<form action="/profile/<%=user._id%>/editpic?_method=PUT" method="POST" enctype="multipart/form-data">
				<div class="form-group">
					<input class="" type="file" id="image" name="image" accept="image/*">
				</div>
				<div class="form-group">
					<button class="btn btn-primary btn-block ">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
</div>
<script type="text/javascript" src="/suggestion.js"></script>
<%include ../partials/footer%>
