<%include ../partials/header%>
<% 	var sex = "";
var interest = "";
var binterest = "";
var url = "";
if (user.gender == "Male") {
	sex = 'fas fa-male';
} else {
	sex = "fas fa-female";
}
if (user.sexPreferences == "Male") {
	interest = "fas fa-male";
} else if (user.sexPreferences == "Female") {
	interest = "fas fa-female";
} else if (user.sexPreferences == "Bi-Sexual"){
	interest = "fas fa-female";
	binterest = "fas fa-male";
}
if (user.isVerified) { %>
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-body">
				<p></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-12 col-md-6 col-lg-6">
			
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<% if (user.pictures) { for (var i = 1; i < user.pictures.length; i++) { %>
					<li data-target="#carousel-example-generic" data-slide-to="<%=i%>"></li>
					<% }} %>
				</ol>

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">
					<div class="item active">
					<%	user.pictures.forEach((pic) => {
						if (pic.isProfile) {
							url = pic.url;
					}});
					if (url == "") { %>
						<img style="margin:auto;" src="https://res.cloudinary.com/dstvx12kw/image/upload/v1562740604/236090_xpw3z3.jpg" alt="">
					<% } else { %>
						<img style="margin:auto;" src="<%= url %>" alt="">
					<% } %>
				</div>
				<% if (user.pictures) { for (var i = 0; i < user.pictures.length; i++) { if (!user.pictures[i].isProfile) {%>
					<div class="item">
						<img src="<%=user.pictures[i].url%>" alt="">
					</div>
				<% }}} %>
					

				</div>


				<!-- Controls -->
				<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>



		<!-- USER INFO BLOCK -->
		<div class="col-sm-12 col-md-6 col-lg-6">
			<div class="thumbnail">
				<div class="caption" id="<%=user._id%>">
					<small class="pull-right">
						<span class="label" id="online-<%=user._id%>"></span>
					</small>
					<script>
						eventSocket.on('broadcast', function (data) {
							var online = document.getElementById("online-<%=user._id%>");
							var curUserId = "<%=user._id%>";
							var newArr = data.filter(user => user._id.toString() === curUserId.toString());
							if (newArr.length > 0) {
								online.innerText = "Online";
								online.classList.remove('label-default');
								online.classList.add("label-success");
							} else {
								online.innerText = "Last seen: <%= moment(user.lastseen).fromNow() %>";
								online.classList.remove("label-success");
								online.classList.add("label-default");
							}
						});
					</script>
					<h1><%=user.username%></h1>
					<hr>
					<!-- LIKES AND FAMERATE -->

					<div class="btn-group btn-group-justified">
						<div class="btn" style="font-size: 4rem !important;"><span class="glyphicon glyphicon-heart"
								aria-hidden="true"></span>
							<span id="like-badge-<%=user._id%>"><%= user.likes.length %></span></div>
						<div class="btn" style="font-size: 4rem !important;"><span class="glyphicon glyphicon-star"
								aria-hidden="true"></span> <span
								id="fame-badge-<%=user._id%>"><%= user.visits.length + user.likes.length %></span>
						</div>
					</div>
					<!-- EMAIL AND VISITS FOR THE USER ONLY -->
					<% if (currentUser._id.toString() == user._id.toString()) { %>
					<h2><i class="fas fa-eye"></i> <%= user.visits.length %></h2>
					<h2><span class="glyphicon glyphicon-envelope"></span> <%= user.email %></h2>
					<%}%>

					<!-- BIRTHDATE -->

					<h2><i class="fas fa-baby-carriage"></i> <%= moment(user.birthday).toNow(true) %> old</h2>

					<!-- SEX AND INTERESTS -->

					<h2><i class="<%=sex%>"></i> <i class="fas fa-arrow-right"></i> <i class="<%=interest%>"></i><i
							class="<%=binterest%>"></i></h2>

					<!-- USER LOCATION -->

					<h2><i class="fas fa-compass"></i> <%= user.locationname %></h2>

					<!-- USER'S DISTANCE -->
					<% if (currentUser._id.toString() !== user._id.toString()) { %>
					<h2><i class="fas fa-map-signs"></i> <%=user.distance%> kilometers from
						you!</h2>
					<%}%>

					<!-- HIDDEN STUFF FOR PURPOSE -->

					<p class="hidden commontags"><%if (user.commontags) {%> user.commontags<%} else {%>0<%}%></p>
						<p class="hidden famerate"><%=user.famerate%></p>

					<!-- USER'S BIO -->

					<h2> <i class="fas fa-info"></i> <%= user.bio %></h2>

					<!-- USER'S INTERESTS AKA TAGS -->

					<p4>
						<% user.interests.forEach((tags) => { %>
						<button class="btn btn-primary btn-lg">#<%= tags.text %></button>
						<% }); %>
					</p4>

					<!-- LIKE AND DISLIKE BUTTONS -->

					<% if(user._id.toString() !== currentUser._id.toString()) { %>
					<% if (currentUser.pictures.length > 0) { %>
					<hr>
					<div id="possibility">
						<%
									var likeStatus = user.likes.filter(like => like.id.toString() !== currentUser._id.toString());
									if (likeStatus.length > 0) {
									%> This person already knows about your sympathy <%
									} else {
									%> You can like this profile!!! <%
									}
								%>
					</div>
					<div id="disability">
						<%
									var idArr = currentUser.blockedUsers.map(userid => userid.id.toString());
									var blockButtonText = "";
									if (idArr.includes(user._id.toString())) {
										%>You've blocked this user<%
										blockButtonText = "Unblock this user";
									} else {
										blockButtonText = "Block this user";
									}
								%>
					</div>
					<button class="btn btn-danger btn-block"
						onclick="likeUser('<%=user._id.toString()%>', 'yes')">Like</button>
					<button class="btn btn-danger btn-block"
						onclick="dislikeUser('<%=user._id.toString()%>', 'yes')">Dislike</button>
					<button class="btn btn-default btn-block" onclick="fake('<%=user._id.toString()%>')">Report
						as
						Fake</button>
					<button id="block-button" class="btn btn-default btn-block"
						onclick="block('<%=user._id.toString()%>')"><%=blockButtonText%></button>
					<% } %>
					<% } %>
				</div>
			</div>
		</div>
		<% } %>
	</div>
</div>
<%if(!youAreBlocked) {%>
<script>
	(() => {
		var currentUser = "<%=currentUser._id.toString()%>";
		var pageUser = "<%=user._id.toString()%>";
		var recipientSocketId = "<%=user._id%>";
		var notificationsButton = document.getElementById('notifications-button');

		eventSocket.emit('new income notification', recipientSocketId, {
			visitor: "<%=currentUser._id%>",
			visited_one: "<%=user._id%>",
			n_type: "visit"
		});
	})();
</script>
<%}%>
<%include ../partials/footer%>
