<%include partials/header%>
<div class="container">

		<h2>Your profile activiy</h2>
		<h3>Visits</h3>
		<% user.visits.forEach((visit) => { %>
			<p><a href="/profile/<%= visit.id._id %>"><%= visit.id.username %></a> checked your profile! <%= moment(visit.createdAt).fromNow() %></p>
		<% }); %>
		<h3>Likes</h3>
		<% user.likeslog.forEach((like) => { %>
			<p><a href="/profile/<%= like.id._id %>"><%= like.id.username %></a> liked your profile! <%= moment(like.createdAt).fromNow() %></p>
		<% }); %>
		<h3>Dislikes</h3>
		<% user.dislikeslog.forEach((dislike) => { %>
			<p><a href="/profile/<%= dislike.id._id %>"><%= dislike.id.username %></a> disliked your profile! <%= moment(dislike.createdAt).fromNow() %></p>
		<% }); %>
		<h3>You now have likes from: </h3>
		<% user.likes.forEach((like) => { %>
			<p><a href="/profile/<%= like.id._id %>"><%= like.id.username %></a></p>
		<% }); %>
</div>

<%include partials/footer%>
