<%include partials/header%>
<%
	var userno = 0;
	if (currentUser._id.toString() === conversation.participants[0]._id.toString()) { userno = 1; }
%>
<div class="container">
	<h3>Conversation with <%=conversation.participants[userno].username%></h3>
	<div id="messages" class="list-group">
		<%messages.forEach(message => {%>
			<% var newMessageClass = ""; 
				if (!message.isRead) {
					if (message.sentBy._id.toString() !== currentUser._id.toString()) {
						newMessageClass = "myNewMessage";
					} else {
						newMessageClass = "newMessage";
					}
				}%>
			<a class="list-group-item <%=newMessageClass%>">
				<h4 class="list-group-item-heading"><%=message.sentBy.username%></h4>
				<small class="pull-right"><%=moment(message.createdAt).fromNow()%></small>
				<p class="list-group-item-text"><%=message.body%></p>
			</a>
		<%})%>
	</div>
	<form id="form">
		<div class="input-group">
			<input id="message" class="form-control" placeholder="Type your message here..." />
			<span class="input-group-btn">
				<button class="send_message btn btn-default">Send</button>
			</span>
		</div>
	</form>
</div>
<script src="https://cdn.jsdelivr.net/gh/rexeze/formatTimeStamp/src/index-cdn.js"></script>

<script>
var socket = io('/chat');
var room = "<%=conversation._id%>";
var messages = document.getElementById("messages");

socket.on('connect', () => {
   // Connected, let's sign-up for to receive messages for this room
   socket.emit('connectToRoom', room);
});

(() => {
	setTimeout(() => { $(".myNewMessage").removeClass("myNewMessage")}, 3000);
	$("form").submit(e => {
		e.preventDefault(); // prevents page reloading
		socket.emit("chat message", room, {
			message: $("#message").val(),
			authorName: "<%=currentUser.username%>",
			authorId: "<%=currentUser._id%>",
			recipientID: "<%=conversation.participants[userno]._id%>"
		}, (ret) => {
			var a = document.createElement("a");
			a.setAttribute('class', 'list-group-item newMessage');
			a.innerHTML = '<h4 class="list-group-item-heading"><%=currentUser.username%></h4><small class="pull-right">a moment ago</small><p class="list-group-item-text">'+$("#message").val()+'</p>';
			messages.appendChild(a);
			$("#message").val("");
			if (ret) {
				console.log(ret);
				setTimeout(() => { $(".newMessage").toggleClass("newMessage");}, 2000);
			}
		});
		return false;
	});
	socket.on("received", data => {
		var a = document.createElement("a");
		var messages = document.getElementById("messages");
		a.setAttribute('class', 'list-group-item newMessage');
		a.innerHTML = '<h4 class="list-group-item-heading">' + data.user + '</h4><small class="pull-right">a moment ago</small><p class="list-group-item-text">' + data.message + '</p>';
		messages.appendChild(a);
		setTimeout(() => { $(".newMessage").toggleClass("newMessage");}, 2000);
	});
	socket.on("read", data => {
		console.log("sosi!");
		setTimeout(() => { $(".newMessage").removeClass("newMessage");}, 2000);
	})
})();
</script>
<%include partials/footer%>
