<%include partials/header%>
  <!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
	<div class="modal-dialog modal-sm">
		<div class="modal-content">
			<div class="modal-body">
				<p></p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div class="container">
	<button class="btn btn-success" onclick="window.location.href='http:\/\/localhost:3000/feed/research'">Reset</button>
	<form action="/feed/research/result?_method=PUT" method="POST">
		<p>Location range</p>
		<section class="range-slider">
			<span class="rangeValues"></span>
			<input name="userparams[locmin]" value="<% if(locals.userparams){%><%=userparams.locmin%><% } else { %>0<% } %>" min="0" max="20000" step="1" type="range">
			<input name="userparams[locmax]" value="<% if(locals.userparams){%><%=userparams.locmax%><% } else { %>20000<% } %>" min="0" max="20000" step="1" type="range">
		</section>
		<p>Fame rate range</p>
		<section class="range-slider">
			<span class="rangeValues"></span>
			<input name="userparams[famemin]" value="<% if(locals.userparams){%><%=userparams.famemin%><% } else { %>0<% } %>" min="0" max="200" step="1" type="range">
			<input name="userparams[famemax]" value="<% if(locals.userparams){%><%=userparams.famemax%><% } else { %>200<% } %>" min="0" max="200" step="1" type="range">
		</section>
		<p>Common tags range</p>
		<section class="range-slider">
			<span class="rangeValues"></span>
			<input name="userparams[tagmin]" value="<% if(locals.userparams){%><%=userparams.tagmin%><% } else { %>0<% } %>" min="0" max="50" step="1" type="range">
			<input name="userparams[tagmax]" value="<% if(locals.userparams){%><%=userparams.tagmax%><% } else { %>50<% } %>" min="0" max="50" step="1" type="range">
		</section>
		<select id="sorting" name="userparams[sorttype]">
			<option <% if (locals.user && order.sorttype.toString() === 'default') { %> selected <% } else {%>selected<% } %> value="default">By Default</option>
			<option <% if (locals.user && order.sorttype.toString() === 'location') { %> selected <% } %> value="location">By Location</option>
			<option <% if (locals.user && order.sorttype.toString() === 'famerate') { %> selected <% } %> value="famerate">By Fame Rate</option>
			<option <% if (locals.user && order.sorttype.toString() === 'tags') { %> selected <% } %> value="tags">By Tags</option>
		</select>
		<select id="sorting" name="userparams[sortorder]">
			<option <% if (locals.user && order.order.toString() === 'asc') { %> selected <% } else {%>selected<% } %> value="asc">Ascending</option>
			<option <% if (locals.user && order.order.toString() === 'desc') { %> selected <% } %> value="desc">Descending</option>
		</select>
		<button class="btn btn-primary" type="submit">Search</button>
	</form>

<% if (locals.user) { %> 
	<div class="row row-eq-height" style="display: flex; flex-wrap: wrap;">
			<% user.forEach((user) => { %>
			<%	if (user.isVerified) { %>
			<div class="col-sm-6 col-md-4">
				<div class="thumbnail">
					<div class="caption">
						<%	var url = "";
						user.pictures.forEach((pic) => {
							if (pic.isProfile) {
								url = pic.url;
							}});
							if (url == "") { %>
						<img src="https://res.cloudinary.com/dstvx12kw/image/upload/v1562740604/236090_xpw3z3.jpg" alt="">
						<% } else { %>
						<img width="150" src="<%= url %>" alt="">
						<% } %>
					</div>
					<div class="caption" id="<%=user._id%>">
						<div id="online-<%=user._id%>"></div>
						<script>
							socket.on('broadcast',function(data) {
								var online = document.getElementById("online-<%=user._id%>");
								var curUserId = "<%=user._id%>";
								var newArr = data.filter(user => user._id.toString() === curUserId.toString());
								if (newArr.length > 0) {
									online.innerHTML = " <i class=\"fas fa-circle\"></i> Online";
									online.style.color = "green";
								} else {
									online.innerText = "Last seen: <%= moment(user.lastseen).fromNow() %>";
									online.style.color = "grey";
								}
								// console.log(data);
							});
						</script>
						<h3><%= user.username %></h3>
						<h3><span class="likes"><%= user.likes.length %></span> <i class="far fa-heart"></i></h3>
						<h3 class="fame">Fame points: <%= user.famerate %></h3>
						<p><%= user.gender %></p>
						<p><%= user.sexPreferences %></p>
						<p><%= user.locationname %></p>
						<p><%=user.username%> is <%=Math.round(user.dist.calculated/1000)%> kilometers from you!</p>
						<p class="hidden distance"><%=Math.round(user.dist.calculated/1000)%></p>
						<p class="hidden commontags"><%=user.commontags%></p>
						<p class="hidden famerate"><%=user.famerate%></p>
						<p><%= user.bio %></p>
						<% user.interests.forEach((tags) => { %>
						<button class="btn btn-primary">#<%= tags.text %></button>
						<% }); %>
							<div>
								<a href="/profile/<%= user._id %>" class="btn btn-primary" role="button">Profile</a>
							</div>
						<% if(user._id.toString() !== currentUser._id.toString()) { %>
						<% if (currentUser.pictures.length > 0) { %>
						<!-- <form action="/likes/<%=user._id%>/like?_method=PUT" method="POST">
							<button class="btn btn-danger inputto">Like</button>
						</form> -->
						<button class="btn btn-danger inputto" onclick="likeUser('<%=user._id.toString()%>')" >Like</button>
						<button class="btn btn-danger inputto" onclick="dislikeUser('<%=user._id.toString()%>')" >Dislike</button>
						<!-- <form action="/likes/<%=user._id%>/dislike?_method=DELETE" method="POST">
							<button class="btn btn-danger inputto">Dislike</button>
						</form> -->
						<% } %>
						<% } %>
					</div>
				</div>
			</div>
	
			<% }}) %>
		</div>
<% } %>
</div>
<%include partials/footer%>
